Flask
pandas
numpy
yfinance
requests
python-dateutil
tqdm
scikit-learn
statsmodels
beautifulsoup4
selenium
chromedriver-autoinstaller
openai
sentence-transformers
torch
transformers
datasets
accelerate
peft
