pandas
numpy
python-dateutil
requests
beautifulsoup4
selenium
chromedriver-autoinstaller
yfinance
tqdm
scikit-learn
statsmodels
openai
sentence-transformers
torch
transformers
datasets
accelerate
peft
bitsandbytes
Flask
